{% extends "base.html" %}
{% block title %}
    {{ error }} Page
{% endblock %}
{% block page_title %}
    <h1>{{ error }} page
        <small>{{ error }}</small>
    </h1>

    <div class="row">
        <div class="col-md-12 page-404">
            <div class="details">
                {% if error=='404' %}
                <h1>Error!Page Not Found!</h1>
                {% elif error=='500' %}
                <h1>Error!Internal Server Error!</h1>
                {% else %}
                <h1>Error!502 Bad Gateway!</h1>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
