venv/
migrations/
*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/
logs/
dist/
build/
*.egg-info/
.idea/
omp_log/
omp_file/docker_yml
omp_file/mysql_bak
omp_service_store/
omp_excel/
