venv/
migrations/
*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/
logs/
dist/
build/
*.egg-info/
.idea/
oms_log/
oms_file/docker_yml
oms_file/mysql_bak
oms_service_store/
