flask
#login module
flask-login
#csrf
flask-wtf
#ladp
ldap3
#email
flask-mail
#db
flask-sqlalchemy
#script
flask-script
#db-migrate
flask-migrate
mysqlclient
requests
click #commandline tools
pymysql #db tools
pyyaml
uwsgi
xlwt #excel