{% extends "base.html" %}
{% block title %}
    添加菜单
{% endblock %}
{% block head %}
    {{ super() }}
    <link href="{{ url_for('static', filename='assets/global/plugins/bootstrap-select/bootstrap-select.min.css') }}"
          rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='assets/global/plugins/select2/select2.css') }}" rel="stylesheet"
          type="text/css"/>
{% endblock %}
{% block page_title %}
    <h1>系统管理
        <small>添加菜单</small>
    </h1>
{% endblock %}
{% block page_content %}
    <div class="row">
        <div class="col-md-12">

            <div class="portlet-body form">

                <form class="form-horizontal form-bordered" method="post" action="" onsubmit="show_mask()">

                    <div class="form-group">
                        <label class="col-md-1 col-md-offset-4 control-label">菜单名称</label>
                        <div class="col-md-3">
                            <div class="input-group">
                                                <span class="input-group-addon">
                                <i class="fa"></i>
                                </span>
                                <input type="text" name="menu_name" class="form-control" value="{{ menu.menu_name }}"
                                       required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 col-md-offset-4 control-label">视图方法</label>
                        <div class="col-md-3">
                            <div class="input-group">
                                                <span class="input-group-addon">
                                <i class="fa"></i>
                                </span>
                                <input type="text" name="menu_url" class="form-control" value="{{ menu.menu_url }}">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 col-md-offset-4 control-label">菜单状态</label>
                        <div class="col-md-3">
                            <div class="input-group">
                                {% if menu.active %}
                                    <input type="checkbox" checked class="make-switch" name="activate"
                                           data-size="small">
                                {% else %}
                                    <input type="checkbox" class="make-switch" name="activate"
                                           data-size="small">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 col-md-offset-4 control-label">菜单图标</label>
                        <div class="col-md-3">
                            <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa"></i>
                                <i id="menu_icon_show" ></i>
                                </span>
                                <select class="form-control select2me" id="menu_icon" name="menu_icon"
                                        data-placeholder="选择菜单图标...">
                                    <option value=""></option>
                                    {% for menu_icon in menu_icons %}
                                        {% if menu.menu_icon == menu_icon %}
                                            <option value="{{ menu_icon }}" selected="selected">{{ menu_icon }}</option>
                                        {% else %}
                                            <option value="{{ menu_icon }}">{{ menu_icon }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>

                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 col-md-offset-4 control-label">菜单描述</label>
                        <div class="col-md-3">
                            <div class="input-group">
                                                <span class="input-group-addon">
                                <i class="fa"></i>
                                </span>
                                <input type="text" name="menu_desc" class="form-control" value="{{ menu.menu_desc }}">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 col-md-offset-4 control-label">显示顺序</label>
                        <div class="col-md-3">
                            <div class="input-group">
                                                <span class="input-group-addon">
                                <i class="fa"></i>
                                </span>
                                <input type="text" name="menu_order" class="form-control" value="{{ menu.menu_order }}"
                                       required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 col-md-offset-4 control-label">父级菜单</label>
                        <div class="col-md-3">
                            <div class="input-group">
                                <select class="combobox form-control input-large" name="parent_id">
                                    <option></option>
                                    {% if parent_menus %}
                                        {% for parent in parent_menus %}
                                            {% if parent.id == menu.parent_id %}
                                                <option value="{{ parent.id }}"
                                                        selected>{{ parent.menu_name }}/{{ parent.menu_desc }}</option>
                                            {% else %}
                                                <option value="{{ parent.id }}">{{ parent.menu_name }}/{{ parent.menu_desc }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                    </div>
                    {% if session['user'].role == 'admin' %}
                        <div class="form-actions right">
                            <div class="row">
                                <div class="col-md-offset-4 col-md-8">
                                    <button type="submit" class="btn btn-circle btn-success"><i
                                            class="glyphicon glyphicon-ok"></i> 提交
                                    </button>
                                    <a type="button" class="btn btn-circle btn-danger" href="{{ url_for('manager.show_menus') }}">取消</a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>

{% endblock %}
{% block page_script %}
    <script src="{{ url_for('static', filename='assets/global/plugins/bootstrap-select/bootstrap-select.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/global/plugins/select2/select2.min.js') }}"></script>
    <script type="text/javascript">
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        $('#menu_icon').change(function () {
            console.log('info',$('#menu_icon').val());
            $('#menu_icon_show').attr('class', $('#menu_icon').val())
        })
    </script>
{% endblock %}
