{% extends "base.html" %}
{% block title %}编辑角色{% endblock %}
{% block head %}
    {{ super() }}
    <link href="{{ url_for('static', filename='assets/global/plugins/bootstrap-select/bootstrap-select.min.css') }}"
          rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='assets/global/plugins/select2/select2.css') }}" rel="stylesheet"
          type="text/css"/>
    <link href="{{ url_for('static', filename='assets/global/plugins/jquery-multi-select/css/multi-select.css') }}"
          rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='assets/global/plugins/bootstrap-duallistbox/bootstrap-duallistbox.min.css') }}"
          rel="stylesheet" type="text/css"/>
{% endblock %}
{% block page_title %}
    <h1>系统管理
        <small>角色修改</small>
    </h1>
{% endblock %}
{% block page_content %}
    <!-- BEGIN PAGE CONTENT-->
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN PORTLET-->
            <div class="portlet box red">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i>编辑角色
                    </div>
                </div>
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <form action="" class="form-horizontal form-row-seperated" method="POST" onsubmit="show_mask()">
                        <div class="form-group">
                            <label class="control-label col-md-2">角色名称</label>
                            <div class="col-md-3">
                                <input type="text" name="name" class="form-control" value="{{ role.name }}" required>
                            </div>

                            <label class="control-label col-md-2">默认试图方法</label>
                            <div class="col-md-3 center">
                                <input type="text" name="index_page" class="form-control" value="{{ role.index_page }}" required>
                            </div>
                        </div>
                        <div class="form-body">
                            <div class="form-group">
                                <label class="control-label col-md-2">系统菜单</label>
                                <div class="col-md-10">
                                    <select multiple="multiple" class="multi-select"  size="5" name="role_menu" id="role_menu"
                                            class="demo2">
                                        {% for menu in menus %}
                                            {% if menu.id in role_menu %}
                                            <option selected="selected" value="{{ menu.id }}">{{ menu.menu_name }}/{{ menu.menu_desc }}</option>
                                            {% else %}
                                            <option value="{{ menu.id }}">{{ menu.menu_name }}/{{ menu.menu_desc }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">角色成员</label>
                                <div class="col-md-10">
                                    <select multiple="multiple" size="5" name="role_member" id="role_member"
                                            class="demo2">
                                        {% if role %}
                                            {% for user in users %}
                                                {% if user.role == role %}
                                                    <option selected="selected"
                                                            value="{{ user.id }}">{{ user.username }}</option>
                                                {% else %}
                                                    <option value="{{ user.id }}">{{ user.username }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            {% for user in users %}
                                                <option value="{{ user.id }}">{{ user.username }}</option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn green"><i class="fa fa-check"></i>提交</button>
                            <a type="button" class="btn default" href="{{url_for('manager.role_manage')}}">取消</a>
                        </div>
                    </form>
                    <!-- END FORM-->
                </div>
            </div>
            <!-- END PORTLET-->
        </div>
    </div>
    <!-- END PAGE CONTENT-->
{% endblock %}

{% block page_script %}
    {{ super() }}
    <script src="{{ url_for('static', filename='assets/global/plugins/bootstrap-select/bootstrap-select.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/global/plugins/select2/select2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/global/plugins/jquery-multi-select/js/jquery.multi-select.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/global/plugins/bootstrap-duallistbox/jquery.bootstrap-duallistbox.min.js') }}"></script>

    <script type="text/javascript">
        jQuery(document).ready(function () {
            var role_remember = $('#role_member').bootstrapDualListbox({
                nonSelectedListLabel: 'Non-selected',
                selectedListLabel: 'Selected',
                preserveSelectionOnMove: 'moved',
                moveOnSelect: false
            });
            var role_menu = $('#role_menu').bootstrapDualListbox({
                nonSelectedListLabel: 'Non-selected',
                selectedListLabel: 'Selected',
                preserveSelectionOnMove: 'moved',
                moveOnSelect: false
            });
        });
    </script>
{% endblock %}

